<footer id="footer-desc">
    <ul>
         <a> &copy; MAP Trade </a>&nbsp;
         <a href="/about"> ABOUT US</a>&nbsp;
        <a href= "/contact"> CONTACT US</a>
    </ul>
</footer>
</header>
</body>
</html>