<%- include('./partials/header.ejs')%>
<div class ="about_page">
    <div id="desc_about">
        <h3>ABOUT</h3>
        <h4>The Music Album Posters Trade Site provides to trade Pop and Desi Music Album Posters</h4>
        <p>Join our community of music album poster enthusiasts today and start trading posters like a pro!</p>
    </div>
</div>

<%- include('./partials/footer.ejs')%>
