<%- include('./partials/header.ejs')%>
<div class ="contact_page">
    <div id="desc_contact">
        <h3>CONTACT</h3>
        <h4>For more information, please reach out to this map@gmail.com</h4>
    </div>
</div>

<%- include('./partials/footer.ejs')%>
