<%- include('./partials/header.ejs')%>
<section id="Intro">
                    <div class="Welcomenote"><br><br><br><br>
                        <h2> Welcome to Music Album Posters Trade Site</h2>
                        <h3> Start Selling Posters online now with our platform </h3>
                        <h4> Effortlessly build your professional online store from anywhere.</h4>
                        <p>With our platform, you can sell your music album posters to customers all around the world. We make it easy to create and manage your online store, so you can focus on what you do best - designing and creating amazing posters.</p>
                        <p>Join our community of talented artists and start selling your posters online today!</p>
</div></section>
<%- include('./partials/footer.ejs')%>

            